* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  min-width: 650px;
  margin: 0 auto;
}

.wrap-flex {
  display: flex;
  justify-content: space-between;
}

.chart {
  display: grid;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.chart-row {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: #dcdcdc;
}

.chart-row:nth-child(odd) {
  background-color: #c0c0c0;
}

.chart-period {
  color: #fff;
  background-color: #708090 !important;
  border-bottom: 2px solid #000;
  grid-template-columns: 50px repeat(15, 1fr);
}

.chart-lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 50px repeat(15, 1fr);
}

.chart-period > span {
  text-align: center;
  font-size: 13px;
  align-self: center;
  font-weight: bold;
  padding: 15px 0;
}

.chart-lines > span {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.chart-row-item {
  background-color: #808080;
  border: 1px solid #000;
  border-top: 0;
  border-left: 0;
  padding: 20px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.chart-row-bars {
  list-style: none;
  display: grid;
  padding: 15px 0;
  margin: 0;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 10px 0;
  border-bottom: 1px solid #000;
}

li {
  font-weight: 450;
  text-align: left;
  font-size: 15px;
  min-height: 15px;
  background-color: #708090;
  padding: 5px 15px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}

ul .chart-li-one {
  grid-column: 1/2;
  background-color: #588bae;
}

ul .chart-li-two-a {
  grid-column: 2/2;
  background-color: #0080ff;
}

ul .chart-li-two-b {
  grid-column: 2/4;
  background-color: #4682b4;
}

ul .chart-li-three {
  grid-column: 3/5;
  background-color: #57a0d3;
}

ul .chart-li-four {
  grid-column: 3/7;
  background-color: #0e4d92;
}

ul .chart-li-five {
  grid-column: 7/8;
  background-color: #4f97a3;
}

ul .chart-li-six {
  grid-column: 10/12;
  background-color: #73c2fb;
}

ul .chart-li-seven {
  grid-column: 12/12;
  background-color: #0080ff;
}

.backlog {
  width: 500px;
  background-color: lightgray;
}

.wrap-back {
  padding-left: 10px;
  padding-right: 10px;
}

.head-back {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.search-list {
  display: flex;
}

.search-input {
  width: 100%;
}

.item-task {
  background-color: #f1f1f1;
  height: 100px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-task:last-child {
  background-color: #f1f1f1;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.back-title {
  padding-bottom: 15px;
}

.back-subtitle {
  color: cadetblue;
  margin-bottom: 15px;
}

.hide {
  display: none;
}

.slide-chart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
}

.title-head {
  width: 500px;
  background-color: lightgray;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.switch-btn {
  width: 60px;
  text-decoration: none;
  border: none;
  color: white;
  background-color: rgba(2, 148, 2, 0.705);
  cursor: pointer;
}

.switch-btn:hover {
  width: 60px;
  text-decoration: none;
  border: none;
  color: white;
  background-color: rgba(2, 114, 2, 0.705);
  cursor: pointer;
}

.afterDrop {
  width: 61px !important;
  font-weight: 450;
  text-align: left;
  font-size: 15px;
  min-height: 15px;
  background-color: #0080ff !important;
  padding: 5px 15px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 60px !important;
  height: 30px !important;
}

@media screen and (max-width: 600px) {
  .backlog, .title-head {
    display: none;
  }
}
